<h1>youngest</h1>

<p>
The youngest director in our dataset right now is Christopher Nolan, born on July 30, 1970.

(http://strftime.net/ is handy for putting together the formatting strings for the .strftime method.)
</p>
